@model TFI_ADM_RECURSOS_2023.Models.Proyecto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaInicio" class="control-label"></label>
                <input asp-for="fechaInicio" class="form-control" />
                <span asp-validation-for="fechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaEstimadaEntrega" class="control-label"></label>
                <input asp-for="fechaEstimadaEntrega" class="form-control" />
                <span asp-validation-for="fechaEstimadaEntrega" class="text-danger"></span>
            </div>
            
           <!-- <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
             </div>-->
            <div class="form-group">
                <label asp-for="ClienteNombre" class="control-label"></label>
                <select asp-for="ClienteNombre" class="form-control" asp-items="ViewBag.ClienteNombre"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
