@{
    ViewData["Title"] = "Pagina principal";
}

<div class="text-center">
    <h1 class="display-4">MENU PRINCIPAL</h1>
   

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            The current link item
        </a>
        <a href="/Clientes" class="list-group-item list-group-item-action">GESTIONAR CLIENTES</a>
        <a href="/Proyectos" class="list-group-item list-group-item-action">GESTIONAR PROYECTOS</a>
        <a href="/Facturas" class="list-group-item list-group-item-action">LISTAR FACTURAS</a>
        <a href="/Tareas" class="list-group-item list-group-item-action">GESTIONAR TAREAS</a>
        <a href="/Recursos" class="list-group-item list-group-item-action">GESTIONAR RECURSOS</a>
        <a href="/cuentaCorrientes" class="list-group-item list-group-item-action">LISTAR MOVIMIENTOS DE CUENTA CORRIENTE</a>
      
    </div>





</div>
