@{
    ViewData["Title"] = "Pagina principal";
}

<div class="text-center">
   
   

    <div class="list-group">
       

        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="display-4">MENU PRINCIPAL</h1>
            if (User.Identity.Name == "administrador@gmail.com")
            {
                <a href="/Clientes" class="list-group-item list-group-item-info">GESTIONAR CLIENTES</a>
                <a href="/Proyectos" class="list-group-item list-group-item-info">LISTAR PROYECTOS</a>
                <a href="/cuentasCorriente" class="list-group-item list-group-item-info">LISTAR MOVIMIENTOS DE CUENTA CORRIENTE</a>
                <a href="/cuentaCorrienteReporte/Index" class="list-group-item list-group-item-info">REPORTE DE CUENTA CORRIENTE</a>
                <a href="/proyectosReporte/Index" class="list-group-item list-group-item-info">REPORTE DE PROYECTOS</a>
                <a href="/ClientesReporte/Index" class="list-group-item list-group-item-info">REPORTE DE CLIENTES</a>
            }

            else
            {


                <a href="/cuentaCorrienteReporte/Index" class="list-group-item list-group-item-info">REPORTE DE CUENTA CORRIENTE</a>
                <a href="/proyectosReporte/Index" class="list-group-item list-group-item-info">REPORTE DE PROYECTOS</a>
                <a href="/ClientesReporte/Index" class="list-group-item list-group-item-info">REPORTE DE CLIENTES</a>
            }
        }
      
      
    </div>





</div>
